<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="Web_BookingTransEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.64;initial catalog=Web_BookingTrans;persist security info=True;user id=hoangnm;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="Service.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.100.52;Initial Catalog=VAS_4000;User ID=sa;Password=Nisbc#1234"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<userSettings>
		<Service.Properties.Settings>
   <setting name="Interval" serializeAs="String">
    <value>90</value>
   </setting>
  </Service.Properties.Settings>
	</userSettings>
</configuration>