<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Interval" value="300000" />
    <!--Những thông số dùng để kết nối với SAP-->
    <!--<add key="SAPname" value="ahtdev" />
    <add key="SAPusername" value="NZZ.IT01" />
    <add key="SAPpassword" value="2011@12345" />
    <add key="SAPclient" value="400" />
    <add key="SAPlanguage" value="EN" />
    <add key="SAPappServerHost" value="192.168.100.76" />
    <add key="SAPsystemNumber" value="00" />
    <add key="SAPmaxPoolSize" value="20" />
    <add key="SAPidleTimeout" value="10" />
    <add key="SAPsapRouter" value="" /> -->
    
    
    
    <!--<add key="SAPname" value="ahtdev" />
    <add key="SAPusername" value="tichhop" />
    <add key="SAPpassword" value="123456a@" />
    <add key="SAPclient" value="300" />
    <add key="SAPlanguage" value="EN" />
    <add key="SAPappServerHost" value="192.168.100.75" /> 
    <add key="SAPsystemNumber" value="00" />
    <add key="SAPmaxPoolSize" value="20" />
    <add key="SAPidleTimeout" value="10" />
    <add key="SAPsapRouter" value="H" />-->
    <add key="PLANT_3000" value="3000" />
    <add key="PLANT_4000" value="4000" />
    <add key="PLANT_6000" value="6000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="eDeliveryConnectionString" connectionString="Server=192.168.100.64;Database=TEST_eDelivery;User ID=hoangnm; Password=123" providerName="System.Data.SqlClient" />
    
    <add name="3000ConnectionString" connectionString="Server=192.168.100.52;Database=VAS_3000;User ID=sa; Password=Nisbc#1234" providerName="System.Data.SqlClient" />
    <add name="4000ConnectionString" connectionString="Server=192.168.100.52;Database=VAS_4000;User ID=sa; Password=Nisbc#1234" providerName="System.Data.SqlClient" />
    <add name="6000ConnectionString" connectionString="Server=192.168.100.52;Database=VAS_6000;User ID=sa; Password=Nisbc#1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>