.text-trong-luong{
    float: right;
    margin-right: 0px;
    margin-left: auto;
  }

.datePicker{
    width: '100%'
}
.form-search{
    padding-bottom: 16px;
}
.form-item{
    margin: 0px;
}
.column{
    align-self: center;
}